<nav class="navbar navbar-light"></nav>
<nav class="nav navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-nav d-md-flex">
            <div routerLinkActive="active" class="navbar-nav justify-content-md-start">
                <button class="btn btn-outline-primary me-md-2" routerLink="customers">Klienci</button>
            </div>
            <div routerLinkActive="active" class="navbar-nav justify-content-center">
                <button routerLink="customers/add" class="btn btn-outline-primary me-md-2">Dodaj klienta</button>
            </div>
            <div routerLinkActive="active" class="navbar-nav justify-content-between">
                <button routerLink="contracts" class="btn btn-outline-primary me-md-2">Umowy</button>
            </div>
            <div class="container-fluid">
                <div routerLinkActive="active" class="navbar-nav d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-outline-primary me-md-2" (click)="authService.login()"
                            *ngIf="!authService.isLogged">Zaloguj
                    </button>
                    <button type="button" class="btn btn-outline-primary" (click)="authService.logOut()"
                            *ngIf="authService.isLogged">Wyloguj
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>
<nav class="navbar"></nav>